@import url(http://fonts.googleapis.com/css?family=Raleway);
.main{
	width: 97%;
	margin-left: 2%;
}
.main_div_btn {
	width: auto;
	padding: 20% 10% 10% 10%;
}
.main_div_btn button{
		font-size: 1.25em;
		font-family: Raleway, sans-serif;
		
			
	}
.t_btn{
	width: 40%;
	float: left;
	margin-left: 10%;
}
.s_btn{
	width: 40%;
	float: right;
}
.loginback{
	background-image: url("imgs/logback.jpg");
	padding: 5%;
}
.secques{
	font-size: 1.25em;
}

#loginButtons{
	visibility: visible;
}